.hero_section{
    width: 100vw;
    height: 800px;
    background-image: url("../Images/turnersjab1.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    letter-spacing: 20px;
}

.search_input {
    width: 600px;
    height: 50px;
    border: none;
}

.search_button {
    width: 200px;
    height: 52px;
    border: none;
    background-color: red;
    color: white;
}

.search_button:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}